<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukas.app.repository.VideoMapper">

	<resultMap id="VideoResultMap" type="com.lukas.app.domain.Video" >
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="description" property="description" />
		<result column="genre" property="genre" />
		<result column="director" property="director" />
		<result column="cast" property="cast" />
		<result column="release_year" property="release" />
		<result column="duration" property="duration" />
		<result column="rating" property="rating" />
	</resultMap>
	
	<select id="selectVideos" resultMap="VideoResultMap">
			SELECT
				id,
				title,
				description,
				genre,
				director,
				cast,
				release_year,
				duration,
				rating
			FROM videos
			WHERE title LIKE CONCAT('%', #{title}, '%')
	</select>
	
	<select id="selectLimited" resultMap="VideoResultMap">
			SELECT
				id,
				title,
				description,
				genre,
				director,
				cast,
				release_year,
				duration,
				rating
			FROM videos
			LIMIT #{offset}, #{limit}
	</select>
	
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM videos
	</select>
	
	<insert id="addVideo" parameterType="com.lukas.app.domain.Video">
		INSERT INTO videos
			(title, description, genre, director, cast, release_year, duration, rating)
		VALUES
			(#{title}, #{description}, #{genre}, #{director}, #{cast}, #{release}, #{duration}, #{rating})
	</insert>
	
</mapper>
