@charset "UTF-8";

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

div h1 p a {
  font-size: 18px; 
}